body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background: white;
  width: 700px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-input {
  width: 610px;
  border: none;
  background: #f9f7fe;
  padding: 15px 10px;
  border-radius: 6px;
  font-size: 15px;
}

.search-button {
  border: 1px white solid;
  background: #7ab7db;
  color: white;
  padding: 15px 10px;
  border-radius: 6px;
  font-size: 15px;
  margin: 0 0 0 10px;
}

.search-button:hover {
  background: white;
  color: #7ab7db;
  border: 1px #7ab7db solid;
  cursor: pointer;
}

header {
  border-bottom: 1px #f9f7fe solid;
  padding: 0 0 20px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 0 30px;
}

.weather-temperature-container {
  display: flex;
}

.weather-city {
  margin-top: 0;
  font-size: 50px;
}

.weather-details {
  line-height: 25px;
}

.weather-details strong {
  color: #7ab7db;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.weather-degrees {
  font-size: 70px;
  font-weight: bold;
  line-height: 100px;
}

.weather-degrees-metric {
  font-size: 25px;
  font-weight: bold;
  margin: 8px;
  line-height: 50px;
}

.weather-forecast-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 50px 0 50px 0;
  margin: 0 20px;
}

.forecast-day {
  font-size: 20px;
  color: black;
  opacity: 0.6;
}

.forecast-temperature {
  font-size: 16px;
}

.forecast-temperature-min {
  color: black;
  opacity: 0.6;
}

.forecast-icon {
  width: 80px;
}

a {
  color: #7ab7db;
}

footer {
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  border-top: 1px #f9f7fe solid;
  padding: 20px 0 0 0;
}
